nav.navbar.navbar-light.bg-primary
  ul.nav.navbar-nav(ng-controller='indexController')
    li.nav-item.pull-xs-left(ng-hide='CommonRole')
      a.btn.btn-primary.wid1(href='/signIn') Sign In
    li.nav-item.pull-xs-left(ng-hide='CommonRole')
      a.btn.btn-primary.wid1(href='/signUp') Sign Up
    li.nav-item.pull-xs-left(ng-show='CommonRole')
      a.btn.btn-primary.wid1(href='/signOut') Sign Out
    li.nav-item
      form.form-inline.pull-xs-right
        input.form-control(ng-model='search' type="text" placeholder="Search")
    li.nav-item.pull-xs-right
      a.btn.btn-primary(href='/') Home
    li.nav-item.active(ng-show='CommonRole')
      a.btn.btn-primary(href='/addPost') Add a new post

div.container.wid3
  h3.h3 Edit post
  div.form-group
    label(for='exampleInputTitle1') Title:
    input.form-control#exampleInputTitle1(ng-model='form.title' placeholder="title")
  div.form-group
    p Body:
    textarea(ng-model='form.text', cols='80', rows='12')
    p
      button.pull-xs-right.btn.btn-primary(ng-click='editPost()') Edit Post

