nav.navbar.navbar-light.bg-primary
  ul.nav.navbar-nav
    li.nav-item.pull-xs-left(ng-hide='CommonRole')
      a.btn.btn-primary(href='/signIn' style="width: 100px;") Sign In
    li.nav-item.pull-xs-left(ng-hide='CommonRole')
      a.btn.btn-primary(href='/signUp' style="width: 100px;") Sign Up
    li.nav-item.pull-xs-left(ng-show='CommonRole')
      a.btn.btn-primary(href='/signOut' style="width: 100px;") Sign Out
    li.nav-item
      form.form-inline.pull-xs-right
        input.form-control(ng-model='search' type="text" placeholder="Search")
    li.nav-item.pull-xs-right
      a.btn.btn-primary(href='/') Home
    li.nav-item.active(ng-show='CommonRole')
      a.btn.btn-primary(href='/addPost') Add a new post

div(style="width: 700px;").container
  div.fs1 There are totally {{posts.length}} posts
  div.blockquote(ng-repeat='post in posts | filter: search')
    h3 {{post.title}}
    p.small {{post.name}}:
    div.lead(ng-show='post.show') {{post.text}}
    div.text-danger(ng-hide='post.show') This post was hiden by adminor.
    div.small
      a(href='/readPost/{{post.post_num}}') More
      span(ng-show='post.CommonRole && post.ownership') -
      a(ng-show='post.CommonRole && post.ownership' href='/editPost/{{post.post_num}}') Edit
      span(ng-show='post.CommonRole && post.ownership') -
      a(ng-show='post.CommonRole && post.ownership' href='/deletePost/{{post.post_num}}') Delete
      span(ng-show='post.CommonRole && post.SuperRole') -
        a(ng-show='post.show' href='#' ng-click='ShowOrHidePost(post.post_num)') Hide
        a(ng-hide='post.show' href='#' ng-click='ShowOrHidePost(post.post_num)') Show


